body{
    font-family: 'Open Sans', sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .flex-item-left {
    background-color:#363062;
    padding: 10px;
    flex: 50%;
    color:white;
  }
  
  .flex-item-right {
    flex: 50%;
  }
  
  .back_img{
      width:700px;
      height:500px;
  }

  .logo{
      width:150px;
      height:150px;
      border-radius: 100px;
      border:2px solid white;
  }

  .subscribe_text {
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
input[type=text] {
    width: 110%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 4px;
}

.flex-container-2 {
    display: flex;
    flex-direction: row;
}

.flex-item-input {
    flex: 80%;
}

.flex-item-button {
    flex: 50%;
}
.button {
    background-color: #827397;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 8px;
}

.card_img{
    width: 100%;  
}
.card_service{
   height:320px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   border-radius: 10px;
   margin-top:5px;
}
.text{
    color:#827397;
    font-weight: bold;
}

.subscribe_text {
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.accord-text{
    margin-top:40px;
}
  
.sideimg {
    width: 100%;
    height: auto;
    margin-top: 100px;
}
.subscribe_text_1{
    font-size: 50px;
    font-weight: bold;
    color:#827397;
}
nav{
    font-size:18px;
    color:black; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
footer{
    background-color: #1D5C63;
    color:white;
}

.about_card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.card-img-top{
    width: 150px;
    height:150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 50%;
}

.team_card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}   

.profile_btn{
    background-color: #1D5C63;
    color:white; 
}