<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>links}}
</head>
<body>
    {{>navbar}}
  
  <div class="container mt-4">
      <h5 class="subscribe_text_1">About us</h5>
      <hr>
      <div class="card about_card">
          <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati suscipit quos, temporibus voluptatibus laboriosam odit! Eveniet saepe illo dignissimos distinctio iure. Nobis officia et animi molestias consectetur dolores. Minima, laborum.</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati suscipit quos, temporibus voluptatibus laboriosam odit! Eveniet saepe illo dignissimos distinctio iure. Nobis officia et animi molestias consectetur dolores. Minima, laborum.</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati suscipit quos, temporibus voluptatibus laboriosam odit! Eveniet saepe illo dignissimos distinctio iure. Nobis officia et animi molestias consectetur dolores. Minima, laborum.</p>
          </div>
      </div>
  </div>
    <br>
    {{>footer}}
</body>
</html>